<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="com.ultra.manager"
    android:versionCode="1"
    android:versionName="1.0">

    <!--android:sharedUserId="android.uid.system"-->

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="24" />

    <application android:label="@string/app_title"
            android:theme="@style/Theme.Settings"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true">

        <activity
            android:name=".ManagerMain"
            android:label="@string/test_settings_title">
            <intent-filter android:priority="1">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.personal" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_android" />
        </activity>

    </application>
</manifest>


