<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="com.ultra.manager"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />

    <application
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Settings">

        <receiver android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="ServiceManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:label="Service"
            android:enabled="true"
            android:exported="false"
            android:name=".system.root.enablerService">
        </service>

        <activity
            android:name=".system.root.rootOptions"
            android:label="@string/app_title">
            <intent-filter android:priority="1">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.system" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_android" />
        </activity>
        <activity
            android:name=".lights.LedActivity"
            android:label="@string/leds_settings_title">
            <intent-filter android:priority="2">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/About_settings_title">
            <intent-filter android:priority="3">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
        </activity>
    </application>

</manifest>
